* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  user-select: none !important;
}

html {
  max-width: 100vw;
  overflow-x: hidden;
  user-select: none !important;
}

body {
  color: black;
  background: white;
}

a {
  color: inherit;
  text-decoration: none;
}
